body {
    font-family: "Barlow Semi Condensed";
    font-size: 15px;
    background-color: #393e46;
}

.initial {
    width: 100%;
    justify-content: center;
    display: flex;
}

.movie, 
.image {
    border-radius: 3px;
    border-radius: 3px;
}

.movie {
    width: 10%;
    justify-content: center;
    padding: 20px;
    border: 1px solid #dc2f2f;
    background-color: #222831;
    box-shadow: 0 10px 30px 0 black;
}

.image {
    width: 100%;
    height: auto;
}

.movie_year {
    font-size: 20px;
    font-weight: 400;
    padding-top: 5px;
}

.movie_information {
    color: #dc2f2f;
    padding: 10px;
}

.movie_title {
    color:#dc2f2f;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.movie_genre {
    padding-bottom: 20px;
}

.card_description {
    font-size: 14px;
    text-align: justify;
}