body {
    font-family: "Barlow Semi Condensed";
    font-size: 15px;
    background-color: #393e46;
}

.initial {
    width: 100%;
    justify-content: center;
    display: flex;
}

.movie, 
.image {
    border-radius: 3px;
}

.movie {
    width: 15%;
    justify-content: center;
    padding: 20px;
    border: 1px solid #dc2f2f;
    background-color: #222831;
    box-shadow: 0 10px 30px 0 black;
}

.image {
    width: 100%;
    height: auto;
}

.movie-information {
    color: #dc2f2f;
    padding: 10px;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.movie-year {
    color: #801c1c;
    font-size: 20px;
    padding-top: 5px;
}

.movie-genre {
    color: #801c1c;
    padding-bottom: 20px;
}

.movie-description {
    font-size: 16px;
    text-align: justify;
}